<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
        <h1>Đây là giao diện nội dung</h1>
        <!-- <%= JSON.stringify(danhsach) %>  In ra nội dung bên trong 1 object-->
        <%
            danhsach.danhsach.forEach(function(item){
        %>
            
            <li><%= item %></li>
        <%
            })
        %>
    </body>
</html>